{% extends 'base.html.twig' %}

{% block title %}Hello {{ product.name }}!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>{{ product.name }}</h1>

    <h3>comments</h3>
    {% for comment in product.comments %}
        <p>
            <b>@{{ comment.author }}</b> says:
        </p>
        <p>{{ comment.content }}</p>
        <hr/>
    {% endfor %}
</div>
{% endblock %}
